*.zip
node_modules
.cache
.env
*.env
*.log
*.db
creds.json
session.json
sessions/
termux-setup
*.zip
.DS_Store
.vscode/
.termux/
.bash_history
npm-debug.log*
yarn-debug.log*
/auth
/set.env
/package-lock.json
/node_modules
/store.json
/audio.mp3
/code obstrui
/.opus
